{% extends 'base.html' %}
{% block title%} Social Leaning {% endblock %}
{% block content %}
{% load static  %}
<marquee class="bg-danger text-white py-3" style="margin-top: 4%;" behavior="alternate" direction="left">Stay Home We Safe</marquee>


<link rel="stylesheet" href="{% static '/css/home.css' %}">
<!-- main section   -->
<section class="mainsec">
    {% if request.user.is_authenticated %}
    <div class=" container maintxt">
        <h1 class="text-center mb-5"> View all your lectures just from here . </h1>
        <div class="row">

            <div class="col-12">
                <a name="" id="" class="btn btn-outline-danger rounded-pill regbtn " href="{% url 'all_video' %}" role="button"> Your Tutorials</a> 
            </div>
            
        </div>
    </div>
    {% else %}
    <div class="maintxt container">
        <h1 class="text-center mb-5">A new way to understand the world and yourself .</h1>
        <div class="row">
            <div class="col-6">
                <a name="" id="" class="btn btn-outline-primary rounded-pill regbtn " href="{% url 'signup' 'std' %}" role="button">Student</a> 

            </div>
            <div class="col-6">
                <a name="" id="" class="btn btn-outline-primary rounded-pill regbtn " href="{% url 'signup' 'teach' %}" role="button">Tutor</a> 

            </div>

        </div>
    </div>
    {% endif %}
</section>

<!-- Choose section -->
<section class="sec " id="second">
    <div class="container">
        <h1> Select the topic you want to study about .</h1>
        <p> Understand the science behind differents arts .</p>
        <div class="subjects mt-5">
            <div class="row">
                <a href="{% url 'all_video' %}?catagory=cse" class="topics col-xs-4 my-1 mx-1 ">Computer Science</a>
                <a href="{% url 'all_video' %}?catagory=phs" class="topics col-xs-4 my-1 mx-1 ">Philosphy</a>
                <a href="{% url 'all_video' %}?catagory=phy" class="topics col-xs-4 my-1 mx-1 ">physics</a>
            </div>
            <div class="row">
                <a href="{% url 'all_video' %}?catagory=mth" class="topics col-xs-4 my-1 mx-1 ">Mathematics</a>
                <a href="{% url 'all_video' %}?catagory=art" class="topics col-xs-4 my-1 mx-1 ">Arts</a>
                <a href="{% url 'all_video' %}?catagory=bio" class="topics col-xs-4 my-1 mx-1 ">Biology</a>
            </div>
            <div class="row">
                <a href="{% url 'all_video' %}?catagory=mda" class="topics col-xs-4 my-1 mx-1 ">Media </a>
                <a href="{% url 'all_video' %}?catagory=chy" class="topics col-xs-4 my-1 mx-1 ">Chemistry</a>
                <a href="{% url 'all_video' %}?catagory=phy" class="topics col-xs-4 my-1 mx-1 ">physics</a>
            </div>
            
        </div>
    </div>
</section>

<!-- Servey section -->
<section class="sec" id="third">
    <div class="container">
        <div class="cont">
            <h1 class="mb-3">Take a survey to understand your mind .</h1>
            <p class="mb-5">There will be 20 questions which will help you , to use your full potential in the right direction.</p>
            <a href="">
                <button type="button" name="" id="" class="btn btn-primary col-2 rounded-pill"> Start Now </button>
            </a>
        </div>
    </div>
</section>

<!-- videos section -->
<section class="sec" id="fourth">
    <div class="container">
        <h1 class="text-center" >Explore different topics.</h1>
    </div>
    <div class="container my-3 " >
        
        <div id="imgcont" class="mt-5">
            <div class="controllers">
                <button id="left"> < </button>
                <button id="right"> > </button>
                
            </div>
        <div class="videoca " style="padding: 0%;">
            {% for video in videos %}
            <div class="col">
                <a href="{% url 'video' video.slug %}" class="card shadow text-left text-decoration-none text-dark">
                    <iframe class="card-img"  src="{{video.video_url}}" style="pointer-events: none;"></iframe>   
                    <div class="card-body">
                        <h5> <b>{{ video.title }}</b> </h5>
                        <p>Catagory: <span class="text-primary">{{video.get_catagory_display}}</span></p>
                        <small class="text-muted">{{ video.creation_time }}</small>
                    </div>
                    <div class="card-footer">
                    </div>
                </a>
            </div>
            {% endfor %}
            <!-- <div class="col">
                <div class="card card-body">
                    <iframe   src="https://www.youtube.com/embed/tgbNymZ7vqY">
                    </iframe>   
                </div>
            </div>
            <div class="col">
                <div class="card card-body">
                    <iframe   src="https://www.youtube.com/embed/tgbNymZ7vqY">
                    </iframe>   
                </div>
            </div>
            <div class="col">
                <div class="card card-body">
                    <iframe   src="https://www.youtube.com/embed/tgbNymZ7vqY">
                    </iframe>   
                </div>
            </div> -->
            
        </div>
    </div>


    </div>

</section>



{% endblock content %}


{% block script %}
    <script src="{% static 'js/home.js' %}" ></script>
{% endblock script %}