{% extends 'base.html' %}
{% load static %}
{% block content %}
<section  style="background-color: antiquewhite;"> 
<div style="padding-top: 60px;"></div>
<a href="{% url 'logout' %}" class="btn btn-danger">Logout </a>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body h-100" style="text-align: center;">
                <img src="{% static 'images/user.png'%}" alt="user image" style="margin-left: 20%; border-radius: 50%;" width="50%">
                <hr>
                <p>deepak silawat</p>
                <p>abcr123@gmail.com</p>
                <a class="btn btn-primary" href="#" role="button">Update Profile</a>
            </div>
        </div>

        <div class="col-md-3 ">
            <div class="card card-body h-100" style="text-align: center;">
                <h5>Institute</h5>
                <hr>
                <p>Truba college of scince and technology by pass road bhopal</p>
                <hr>
                <h5>Qulification</h5>
                <hr>
                <p>B.tech
                    BSC
                </p>
            </div>
        </div>

        <div class="col-md-6 ">
            <div class="card card-body h-100" style="text-align: center;">
                <h5>Work Exprience </h5>
                <hr>
                <p>Hygrophoropsis aurantiaca, the false chanterelle, is a species of fungus in the family Hygrophoropsidaceae. It is found across several continents, growing in woodland and heathland, and sometimes on woodchips used in gardening and landscaping. Its mushrooms are yellow-orange with a funnel-shaped cap up to 8 cm (3 1⁄8 in) across that has a felt-like surface. The thin, often forked gills on the underside of the cap run partway down the length of the otherwise smooth stalk. The mushroom can be mildly poisonous. Austrian naturalist Franz Xaver von Wulfen described the false chanterelle in 1781, noting both its resemblance to the true chanterelles and people's propensity to confuse them. The false chanterelle</p>
            </div>
        </div>

        <div class="col-md-6 ">
            <div class="card card-body h-100" style="text-align: center;">
                <h5>About You </h5>
                <hr>
                <p>Hygrophoropsis aurantiaca, the false chanterelle, is a species of fungus in the family Hygrophoropsidaceae. It is found across several continents, growing in woodland and heathland, and sometimes on woodchips used in gardening and landscaping. Its mushrooms are yellow-orange with a funnel-shaped cap up to 8 cm (3 1⁄8 in) across that has a felt-like surface. The thin, often forked gills on the underside of the cap run partway down the length of the otherwise smooth stalk. The mushroom can be mildly poisonous. Austrian naturalist Franz Xaver von Wulfen described the false chanterelle in 1781, noting both its resemblance to the true chanterelles and people's propensity to confuse them. The false chanterelle</p>
            </div>
        </div>

        <div class="col-md-6 ">
            <div class="card card-body h-100" style="text-align: center;">
                <h5>About You </h5>
                <hr>
                <p>Hygrophoropsis aurantiaca, the false chanterelle, is a species of fungus in the family Hygrophoropsidaceae. It is found across several continents, growing in woodland and heathland, and sometimes on woodchips used in gardening and landscaping. Its mushrooms are yellow-orange with a funnel-shaped cap up to 8 cm (3 1⁄8 in) across that has a felt-like surface. The thin, often forked gills on the underside of the cap run partway down the length of the otherwise smooth stalk. The mushroom can be mildly poisonous. Austrian naturalist Franz Xaver von Wulfen described the false chanterelle in 1781, noting both its resemblance to the true chanterelles and people's propensity to confuse them. The false chanterelle</p>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock content %}