*{
    transition: all .25s;
}
/* common for all sections */
.sec{
    min-height: 100vh !important;
    width: 100%;
    overflow: hidden;
}
/* main section */
.mainsec{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.maintxt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.regbtn{
    width: 150px;
}
/* second section */

#second{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-image: url('../images/1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

#second h1{
    /* font-size: 55px; */
    text-align: center;
}

#second .subjects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topics{
    background-color: white;
    border-radius: 100px;
    padding: .5em 2em ;
    text-decoration: none;
    color:black;
}

.topics:hover{
    text-decoration: none;

    background-color: rgb(0, 81, 255);
    color: white;
}

/* Third section */

#third{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

/* Fourth section */

#fourth{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    height: fit-content;
    text-align: center;
}

#fourth h4{
    margin-top: 1em;
    text-align: left;
}

#imgcont{
    position: relative;
    display: flex;
    align-items: center;
}

.videoca{
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    /* margin-left: -400px; */
    margin-right: -400px;
}

.controllers{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    z-index: 200;
}

.controllers *{
    display:flex;
    justify-content: center;
    align-items: center ;
    width: 50px;
    height: 50px;
    color: white;
    background-color: blue;
    border-radius: 50%;
}

#fourth ::-webkit-scrollbar{
    display: none;
}

#fourth ::-webkit-scrollbar-button{
    display: block;
    justify-content: center;
    align-items: center ;
    width: 50px;
    height: 50px;
    color: white;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
}

/* fifth section */


#fifth{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    height: fit-content;
    text-align: center;
    overflow: hidden;
}

.title{
    font-size: 50px;
}

#fifth h1,h2,h3,h4,p{
    text-align: center;
}

#fifth .htp{
    max-height:fit-content;
    text-align: center;
    overflow: hidden;
}
.htp img{
    object-fit: cover;
    max-width:100%;
}