{% extends 'base.html' %}
{% block title%} Social Leaning {% endblock %}
{% block content %}
<marquee class="bg-danger text-white py-3" style="margin-top: 4%;" behavior="alternate" direction="left">Stay Home We Safe</marquee>

    <div class="container">
        <h4>All Videos</h4>
        <div class="row" style="padding: 0%;">
        {% for video in videos %} <!--database attributes should be change -->
            <div class="col-md-3">
                <div class="card card-body">
                    <iframe  src="{{ video.video_url }}"">
                    </iframe>       
                    <p>{{ video.title }}</p>
                    <p>{{ video.description }}</p>
                </div>
            </div>
        {% endfor %}  
        </div>
    </div> 
    {% endblock content %}