{% extends 'base.html' %}
{% block title%} Social Leaning {% endblock %}
{% block content %}
<marquee class="bg-danger text-white py-3" style="margin-top: 4%;" behavior="alternate" direction="left">Stay Home We Safe</marquee>

    <div class="container">
        
<h2 class="h1-responsive font-weight-bold  "style="text-align:center">Videos</h2>
<hr align="center" width="80%" color="green">
        <div class="row " style="padding: 0%;">
        {% for video in videos %} <!--database attributes should be change -->
            <div class="col-sm-6" style = "padding-bottom: 15px; padding-top: 15px;">
                <div class="embed-responsive embed-responsive-16by9 ">
                    <iframe  src="{{ video.video_url }}">
                    </iframe>       
                   
                </div>

            </div>
        {% endfor %}  
        </div>
    </div> 
    {% endblock content %}