{% extends 'base.html' %}
{% block title%} Upload Video {% endblock %}
{% block content %}
<section >
    <div style="margin-top:100px"></div>
    <div class="mt-5 card container col-md-6 p-2 px-4 bg-light shadow">
        <h3 class="mt-3">Upload Your Video</h3>
        <form action="" method="POST" class="form-group " enctype="multipart/form-data">{% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-primary">Upload Now</button>
            {{form.error}}
        </form>
    </div>
</section>
{% endblock content %}