{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {% endblock title %}</title>
        {% block style %}{% endblock style %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg fixed-top mainNavbar navbar-light shadow" style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="/">Social Learning    </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <!-- <li class="nav-item active">
                    <a class="nav-link text-dark" href="#">Home <span class="sr-only">(current)</span></a>
                </li> -->
                <!-- search        -->
                
                <form class="form-inline ml-auto col-md-7 pl-0 mt-1" id="searchForm">
                    <input class="form-control col-8" name="search" type="search" placeholder="Search">
                    <button class="btn btn-outline-success ml-3" type="submit">Search</button>
                </form>
                {% if request.user.is_authenticated %}
                <a href="{% url 'upload' %}" class=" mr-3  btn btn-outline-danger " >Upload Video</a>
                <a href="{% url 'profile' %}?redirect={{request.path}}">
                  <img src="{% static 'images/user.png' %}" class="rounded-circle" alt="{{user}}" height="32" width="32">
                </a>
                
                {% else %}
                  <a href="{% url 'login' %}?redirect={{request.path}}" class="btn btn-outline-danger  mr-sm-0 font-weight-bold ">
                    Login
                  </a>
                  <div class="dropdown mr-5">
                    <a href="#" class="btn btn-lg  dropdown-toggle text-dark" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Signup
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <a style="text-decoration: none;" href="{% url 'signup' 'std' %}"><button class="dropdown-item" type="button">Student</button></a>
                      <!-- <a style="text-decoration: none;" href="#"><button class="dropdown-item" type="button">Institute</button></a> -->
                      <a style="text-decoration: none;" href="{% url 'signup' 'teach' %}"><button class="dropdown-item" type="button">Teacher</button></a>
                    </div>
                  </div>
                  {% endif %}
            </div>
        </nav>
        {% for message in messages %}      
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" style="margin-top: 66px! important;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
           {{ message }}
        </div>
        {% endfor %}

        {% block content%}
        {% endblock content %}
    </body>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>